@page "/date-ideas"
@rendermode InteractiveWebAssembly
@inject CaitlinMcCarthy.Client.Models.DateIdeaGenerator DateIdeaGenerator

<div class="date-ideas-container">
    <h3>Random Date Idea</h3>
    <button class="date-ideas-button" @onclick="GenerateIdea">Generate Idea</button>
    <p class="date-ideas-output">@idea</p>
</div>

@code {
    private string idea = string.Empty;

    private void GenerateIdea()
    {
        idea = DateIdeaGenerator.GetRandomDateIdea();
        StateHasChanged();
    }
}
