@page "/loving-messages"
@page "/"
@rendermode InteractiveWebAssembly
@inject CaitlinMcCarthy.Client.Models.MessageGenerator MessageGenerator

<div class="loving-messages-container">
    <h3>Loving Messages</h3>
    <button class="loving-messages-button" @onclick="GenerateMessage">Generate Message</button>
    <p class="loving-messages-output">@message</p>

    <h1>I love you Catilin McCarthy</h1>
    <h1>You're always on my mind :)</h1>
</div>

@code {
    private string message = string.Empty;

    private void GenerateMessage()
    {
        message = MessageGenerator.GetRandomMessage();
        StateHasChanged();
    }
}